{#
	var                    Description / Instance of
	-------------------------------------------------
	name                   Name of input
	selectedvalue          Value to apply to input
	id                     ID of input
	capitalize_labels      bool should labels be capitalized?
#}
<select name="{{ name }}" id="{{ id }}" class="form-control">
	<option value="">-- Choose --</option>
	{% for value, description in options %}
		<option value="{{ value }}" {{ value == selectedvalue ? 'selected' : ''}}>{{ capitalize_labels ? description|capitalize : description }}</option>
	{% endfor %}
</select>
