{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	orders                 SalesOrder[]|ObjectCollection
#}
<div class="list-group">
	<div class="list-group-item list-group-item-action bg-light">
		{% include 'orders/list/header.twig' %}
	</div>
	{% if orders.count > 0 %}
		{% for order in orders %}
			<a href="{{ page.orderURL(order.ordernumber) }}" class="list-group-item list-group-item-action">
				<div class="row">
					<div class="col">{{ order.ordernumber }}</div>
					<div class="col">{{ order.custpo }}</div>
					<div class="col">{{ order.shiptoid }}</div>
					<div class="col text-right">$ {{ order.total_total|currency }}</div>
					<div class="col">{{ order.date_ordered|convertdate }}</div>
					<div class="col">{{ order.status()|capitalize }}</div>
				</div>
			</a>
		{% endfor %}
	{% else %}
		<div class="list-group-item">
			<div class="row">
				<div class="col text-center">There are no results to display.</div>
			</div>
		</div>
	{% endif %}
</div>
