{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	checkoutm              module Checkout
	billing                Billing
	customer               Customer
	user                   ProcessWire\User
#}
{% set customer = checkoutm.get_customer(user.custid) %}
{% block order_summary %}
	<h3 class="font-weight-bold text-secondary mt-4">Bill-To</h3>
	<address>
		{{ customer.name }} ({{ customer.id }})
		<br>
		{{ customer.address1 }} <br>
		{% if customer.address2 %}
			{{ customer.address2 }} <br>
		{% endif %}
		{{ customer.city ~ ', ' ~ customer.state ~ ' ' ~ customer.zip }}
	</address>
{% endblock %}
<div class="card">
	<div class="card-header bg-secondary text-white">
		<div class="d-flex w-100 justify-content-between">
			Cart for {{ user.customer.name }}

			{% set notesclass = qnotes.notes_exist('header') ? 'btn-info text-white' : 'btn-light border border-dark' %}
			<button class="btn btn-sm {{ notesclass }}" type="button" data-toggle="modal" data-target="#notes-modal" aria-controls="notes-modal" data-itemid="header">
				<i class="fa fa-commenting" aria-hidden="true"></i> Header Notes
			</button>
			<div class="collapse">
				<textarea name="name" id="notes-header" cols="{{ qnotes.get_column_count() }}" class="form-control-plaintext" readonly>{{ qnotes.get_notes_form_array('header')|join('\r') }}</textarea>
			</div>
		</div>
	</div>
	<div class="list-group">
		<div class="list-group-item bg-light">
			<div class="row">
				<div class="col">
					<b>Item</b>
				</div>
				<div class="col">
					<b>UoM</b>
				</div>
				<div class="col">
					<b>Qty</b>
				</div>
				<div class="col">
					<b>Price</b>
				</div>
				<div class="col">
					<b>Notes</b>
				</div>
			</div>
		</div>
		{% for item in checkoutm.get_cartitems() %}
			<div class="list-group-item">
				<div class="row">
					<div class="col">
						{{ item.itemid }} <br>
						<small>{{ item.desc1 }}</small>
					</div>
					<div class="col">
						{% set imitem = cart.get_item(item.itemid) %}
						{{ imitem.uom_sale }}
					</div>
					<div class="col">
						{{ item.qty }}
					</div>
					<div class="col">
						${{ item.price|currency }}
					</div>
					<div class="col">
						{% set notesclass = qnotes.notes_exist(item.itemid) ? 'btn-info text-white' : 'btn-light border border-dark' %}
						<button class="btn btn-sm {{ notesclass }}" type="button" data-toggle="modal" data-target="#notes-modal"aria-controls="notes-modal" data-itemid="{{ item.itemid }}">
							<i class="fa fa-commenting" aria-hidden="true"></i> Notes
						</button>
					</div>
				</div>
			</div>
			<div class="list-group-item collapse">
				<textarea name="name" id="notes-{{ item.itemid }}" cols="{{ qnotes.get_column_count() }}" class="form-control-plaintext" readonly>{{ qnotes.get_notes_form_array(item.itemid)|join('\r') }}</textarea>
			</div>
		{% endfor %}
	</div>
	<div class="card-footer">
		<a href="{{ page.url_cart() }}" class="btn btn-warning btn-sm">
			<i class="fa fa-shopping-cart" aria-hidden="true"></i> Edit Cart
		</a>
	</div>
</div>
