{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	checkoutm              module Checkout
	billing                Billing
	customer               Customer
	user                   ProcessWire\User
#}
{% set customer = checkoutm.get_customer(user.custid) %}
{% block order_summary %}
	<h3 class="font-weight-bold text-secondary mt-4">Bill-To</h3>
	<address>
		{{ customer.name }} ({{ customer.id }})
		<br>
		{{ customer.address1 }} <br>
		{% if customer.address2 %}
			{{ customer.address2 }} <br>
		{% endif %}
		{{ customer.city ~ ', ' ~ customer.state ~ ' ' ~ customer.zip }}
	</address>
{% endblock %}
<div class="card">
	<div class="card-header bg-secondary text-white">
		<div class="d-flex w-100 justify-content-between">
			Cart for {{ user.customer.name }}

			{% set notesclass = qnotes.notes_exist('header') ? 'btn-info text-white' : 'btn-light border border-dark' %}
			<button class="btn btn-sm {{ notesclass }}" type="button" data-toggle="modal" data-target="#notes-modal" aria-controls="notes-modal" data-itemid="header">
				<i class="fa fa-commenting" aria-hidden="true"></i> Header Notes
			</button>
			<div class="collapse">
				<textarea name="name" id="notes-header" cols="{{ qnotes.get_column_count() }}" class="form-control-plaintext" readonly>{{ qnotes.get_notes_form_array('header')|join('\r') }}</textarea>
			</div>
			<button class="btn btn-dark btn-sm" type="button" data-toggle="collapse" data-target="#items" aria-expanded="false" aria-controls="items">
				Show / Hide Items
			</button>
		</div>
	</div>
	<div class="list-group list-group-flush collapse show" id="items">
		<div class="list-group-item bg-light">
			{% include 'cart/cart/headings.twig' %}
		</div>
		{% for item in cart.items.items() %}
			{% set imitem = cart.getItem(item.itemid) %}
			<div class="list-group-item cart-item">
				{% include 'checkout/cart/item.twig' %}

				<div class="collapse">
					<textarea name="name" id="notes-{{ item.itemid }}" cols="{{ qnotes.get_column_count() }}" class="form-control-plaintext" readonly>{{ qnotes.get_notes_form_array(item.itemid)|join('\r') }}</textarea>
				</div>
			</div>
			{% if inventory.itemidLotsHaveImages(item.itemid) %}
				<div class="list-group list-group-flush collapse" id="{{ item.recordno|attrJS }}-lots">
					{% include 'checkout/cart/item-lots.twig' %}
				</div>
			{% endif %}
		{% endfor %}
	</div>
	<div class="card-footer">
		<a href="{{ pages.get('template=cart').url }}" class="btn btn-warning btn-sm">
			<i class="fa fa-shopping-cart" aria-hidden="true"></i> Edit Cart
		</a>
	</div>
</div>
