{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	siteconfig             ProcessWire\Page('template=config')
	response               DplusResponse
#}
<div class="row">
	<div class="offset-sm-2 col-sm-6">
		<div class="login-form mt-4">
			<div class="text-center">
				<img class="logo" src="{{ siteconfig.logo.url }}" alt="{{ siteconfig.title }} logo">
			</div>
			<h2 class="text-center mb-3">{{ site.title }}</h2>

			{% if response %}
				{% if response.has_error() %}
					{% include 'util/dplus-response.twig' with {'response': response} %}
				{% endif %}
			{% endif %}

			<form action="{{ page.url }}" method="post" class="allow-enterkey-submit" id="login-form">
				<input type="hidden" name="action" value="login">
				<div class="fields">
					<div class="input-group input-group-lg form-group">
						<label for="email" class="sr-only">Email</label>
						<span class="input-group-prepend">
							<span class="btn btn-outline-secondary input-group-text"><i class="fa fa-user" aria-hidden="true"></i> </span>
						</span>
						<input type="email" class="form-control" name="email" id="email" placeholder="email" autocapitalize="off" autofocus>
					</div>
					<div class="input-group input-group-lg form-group">
						<label for="password" class="sr-only">Password</label>
						<span class="input-group-prepend">
							<span class="btn btn-outline-secondary input-group-text"><i class="fa fa-lock" aria-hidden="true"></i> </span>
						</span>
						<input type="password" class="form-control" name="password" id="password" placeholder="password">
					</div>
				</div>

				<p class="text-center">
					<button type="submit" class="btn btn-lg btn-success btn-block">
						<i class="fa fa-lock" aria-hidden="true"></i> Sign in
					</button>
				</p>
				<hr>
				<p>
					Need an account?
					<a href="{{ page.url }}?create=true" class="link">Register for an Account</a>
				</p>
			</form>
		</div>
	</div>
</div>
