{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	editor                 Dplus\Ecomm\Order\Edit
	orderedit              Ordrhed
	qnotes                 module QnotesSalesOrder
	customer               Customer
#}
<div class="card">
	<div class="card-header bg-secondary text-white">
		<div class="d-flex w-100 justify-content-between">
			Order # {{ orderedit.ordernumber }} for {{ customer.name }}
			{% set notesclass = qnotes.notes_exist(orderedit.ordernumber, 0) ? 'btn-info text-white' : 'btn-light border border-dark' %}
			<button class="btn btn-sm {{ notesclass }}" type="button" data-toggle="modal" data-target="#notes-modal"aria-controls="notes-modal" data-linenbr="0">
				<i class="fa fa-commenting" aria-hidden="true"></i> Header Notes
			</button>
			<div class="collapse">
				<textarea name="name" id="notes-line-0" cols="{{ qnotes.get_column_count() }}" class="form-control-plaintext" readonly>{{ qnotes.get_notes_form_array(orderedit.ordernumber, 0, qnotes.get_default_forms_string())|join('\r') }}</textarea>
			</div>
		</div>
	</div>
	<div class="list-group list-group-flush">
		<div class="list-group-item bg-primary">
			{% include 'cart/cart/headings.twig' %}
		</div>
		{% for item in editor.items.items(orderedit.ordernumber) %}
			<div class="list-group-item order-line">
				{% include 'orders/order/edit/item.twig' %}
			</div>
			<div class="list-group list-group-flush collapse" id="{{ item.linenbr|attrJS }}-lots">
				{% include 'orders/order/edit/item-lots.twig' %}
			</div>
			<div class="list-group-item collapse">
				<textarea name="name" id="notes-line-{{ item.linenbr }}" cols="{{ qnotes.get_column_count() }}" class="form-control-plaintext" readonly>{{ qnotes.get_notes_form_array(orderedit.ordernumber, item.linenbr, qnotes.get_default_forms_string())|join('\r') }}</textarea>
			</div>
		{% endfor %}
		<div class="list-group-item order-line">
			{% include 'orders/order/edit/lookup-form.twig' %}
		</div>
	</div>
	<div class="card-body collapse bg-light">
		<div id="lookup-results">

		</div>
	</div>
</div>
