{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	editor                 Dplus\Ecomm\Order\Edit
	orderedit              Ordrhed
	qnotes                 module QnotesSalesOrder
	customer               Customer
#}

{% set imitem = editor.items.getItm().item(item.itemid) %}

<div class="row">
	<div class="col-4">
		{{ item.itemid }} <br>
		<small class="text-muted">{{ item.desc1 }}</small>
	</div>
	<div class="col-1 text-center">
		{{ imitem.uom_sale }}
	</div>
	<div class="col-2 text-right">
		<form action="{{ input.url() }}" method="POST">
			<input type="hidden" name="action" value="update-item-qty">
			<input type="hidden" name="ordn" value="{{ item.ordernumber }}">
			<input type="hidden" name="linenbr" value="{{ item.linenbr }}">

			<div class="placard placard-qty" data-ellipsis="true" data-initialize="placard">
				<div class="placard-popup"></div>
				<div class="placard-header">
					<b>Qty</b> <span class="qty"></span>
				</div>
				<input class="form-control placard-field form-control-sm text-right pull-right w-50 qty-input" type="number" name="qty" value="{{ item.qty|number_format() }}" data-qty="{{ item.qty|number_format() }}" autocomplete="off">
				<div class="placard-footer">
					<a class="placard-cancel" href="#">Cancel</a>
					<button class="btn btn-success btn-sm placard-accept" type="button">
						<i class="fa fa-floppy-o" aria-hidden="true"></i> Save
					</button>
				</div>
			</div>
		</form>
	</div>
	<div class="col-1 text-center">
		{% if editor.allocatedLots.hasAllocated(item.orderno, item.linenbr) %}
			<button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#{{ item.linenbr|attrJS }}-lots" aria-expanded="false" aria-controls="{{ item.linenbr|attrJS }}-lots">
				<i class="fa fa-list" aria-hidden="true"></i>
			</button>
		{% endif %}
	</div>
	<div class="col-1 text-right">
		$ {{ item.price|currency }}
	</div>
	<div class="col-1 text-right">
		$ {{ item.totalprice|currency }}
	</div>
	<div class="col-2 text-center">
		<a href="{{ page.itemDeleteUrl(item.orderno, item.linenbr) }}" class="btn btn-sm btn-danger delete-item" data-itemid="{{ item.itemid }}">
			<i class="fa fa-trash" aria-hidden="true"></i> Delete
		</a>
		{% set notesclass = qnotes.notes_exist(orderedit.ordernumber, item.linenbr) ? 'btn-info text-white' : 'btn-light border border-dark' %}
		<button class="btn btn-sm {{ notesclass }}" type="button" data-toggle="modal" data-target="#notes-modal" aria-controls="notes-modal" data-linenbr="{{ item.linenbr }}">
			<i class="fa fa-commenting" aria-hidden="true"></i> Notes
		</button>
	</div>
</div>
