{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	permissions            module ItemPermissions
	q                      Search String
	count                  Number of Customers
	customers              Customer[]|ObjectCollection
#}
<table class="table table-sm">
	<thead>
		<tr>
			<th>CustID</th>
			<th>Name</th>
			<th>Has Restrictions?</th>
			<th>Edit</th>
		</tr>
	</thead>
	<tbody>
		{% for customer in customers %}
			<tr>
				<td>{{ customer.custid }}</td>
				<td>{{ customer.name }}</td>
				<td>
					<i class="fa {{ page.is_custid_restricted(customer.custid) ? 'fa-check-circle-o' : 'fa-circle-o' }}" aria-hidden="true"></i>
				</td>
				<td>
					{% if permissions.customer_permission_exists(customer.custid) %}
						<a href="{{ page.restrictions_customerURL(customer.custid) }}" class="btn btn-sm btn-warning">
							<i class="fa fa-pencil" aria-hidden="true"></i> Edit
						</a>
					{% else %}
						<a href="{{ page.restrictions_addURL(customer.custid) }}" class="btn btn-sm btn-success">
							<i class="fa fa-plus-circle" aria-hidden="true"></i> Add
						</a>
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
