{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	items                  Page(template=item)[]|PageArray
	inventory              Dplus\Ecomm\Items\Available\Items
#}

<div class="list-group">
	<div class="list-group-item bg-primary">
		<div class="row">
			<div class="col-sm-4">Item</div>
			<div class="col-sm-1 text-right">UoM</div>
			<div class="col-sm-2 text-right">Available</div>
			<div class="col-sm-2 text-center">View Lots</div>
			<div class="col-sm-2 text-right">Qty In Cart</div>
		</div>
	</div>

	{% if items.count() == 0 %}
		<div class="list-group-item item-result">
			<div class="text-center">
				<h4>no results found</h4>
				for "{{ q }}"
			</div>
		</div>
	{% endif %}

	{% for item in items %}
		{% set uom_desc = item.item.uom_sale == 'LBW' ? 'EA' : item.item.uom_sale %}
		{% set qtyAvailable = inventory.getAvailability(item.itemid) %}

		<div class="list-group-item item-result">
			<div class="row">
				<div class="col-sm-4">
					<h5 class="mb-1">
						<a href="#" class="link item-lookup-itemid item-link" data-islotted="{{ item.item.is_itemtype_lotted(item.item.itemtype) ? 'true' : 'true'}}" data-itemid="{{ item.itemid }}">{{ item.itemid }}</a>
					</h5>
					<small class="mb-1 text-muted item-description">{{ item.description1 }}</small> <br>
					<small class="mb-1 text-muted item-description">{{ item.item.description2 }}</small>
				</div>
				<div class="col-sm-1 text-right uom"><small>{{ uom_desc }}</small></div>
				<div class="col-sm-2 text-right available">{{ qtyAvailable }}</div>
				<div class="col-sm-2 text-center">
					{% if inventory.getInventory().itemidLotsHaveImages(item.itemid) %}
						<a href="{{ item.url }}" class="btn btn-sm btn-primary paginator-link">
							<i class="fa fa-list" aria-hidden="true"></i>
						</a>
					{% endif %}
				</div>
				<div class="col-sm-2 text-right">
					{{ cart.items.qtyItemid(item.itemid) }}
				</div>
			</div>
		</div>
	{% endfor %}
</div>
